<div class="container">

  <h1>Pure External Organizations</h1>

  <form (ngSubmit)="search()">
    <div class="form-group">
      <label for="pure-url">Pure URL:</label>
      <input name="pure-url" id="pure-url" class="form-control" type="text" [(ngModel)]="pureUrl" />
    </div>
    <div class="form-group">
      <label for="pure-url">API Key</label>
      <input name="api-key" id="api-key" class="form-control" type="text" [(ngModel)]="apiKey" />
    </div>
    <div class="form-group">
      <label for="pure-url">Query</label>
      <input name="search-string" id="search-string" class="form-control" type="text" [(ngModel)]="searchString" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>

</div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Pure ID</th>
        <th scope="col">UUID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <th scope="row">{{ result.pureId }}</th>
        <td>{{ result.uuid }}</td>
        <td>{{ result.name.en_GB }}</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li *ngFor="let result of results">{{ result.name.en_GB }}</li>
  </ul>

</div>
