<div class="container-fluid">

  <h1>Pure External Organizations</h1>

  <form (ngSubmit)="search()">
    <div class="row align-items-end">
      <div class="form-group col">
        <label for="pure-url">Pure URL</label>
        <input [disabled]="busy" name="pure-url" id="pure-url" class="form-control" type="text" [(ngModel)]="pureUrl" />
      </div>
      <div class="form-group col">
        <label for="pure-url">API Key</label>
        <input [disabled]="busy" name="api-key" id="api-key" class="form-control" type="text" [(ngModel)]="apiKey" />
      </div>
      <div class="form-group col">
        <label for="pure-url">Query</label>
        <input [disabled]="busy" name="search-string" id="search-string" class="form-control" type="text" [(ngModel)]="searchString" />
      </div>
      <div class="form-group col">
        <button [disabled]="busy" class="btn btn-primary" type="submit">
          Search
          <span *ngIf="busy" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Target</th>
        <th scope="col">Pure ID</th>
        <th scope="col">UUID</th>
        <th scope="col">Name</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>
          <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="target" id="target-{{ result.pureId }}" value="{{ result.pureId }}" />
          </div>
        </td>
        <th scope="row">{{ result.pureId }}</th>
        <td>{{ result.uuid }}</td>
        <td>{{ result.name?.en_GB }}</td>
        <td>
          <button (click)="focusOn(result.pureId, orgDetails)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal">
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<ng-template #orgDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="detailModalLabel">
      {{ focusOrg?.name?.en_GB }}
    </h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <dl class="list-group">
      <div *ngIf="focusOrg?.pureId" class="list-group-item">
        <dt>Pure ID</dt>
        <dd>{{ focusOrg?.pureId }}</dd>
      </div>
      <div *ngIf="focusOrg?.uuid" class="list-group-item">
        <dt>UUID</dt>
        <dd>{{ focusOrg?.uuid }}</dd>
      </div>
      <div *ngIf="focusOrg?.createdBy" class="list-group-item">
        <dt>Created By</dt>
        <dd>{{ focusOrg?.createdBy }}</dd>
      </div>
      <div *ngIf="focusOrg?.createdDate" class="list-group-item">
        <dt>Created Date</dt>
        <dd>{{ focusOrg?.createdDate }}</dd>
      </div>
      <div *ngIf="focusOrg?.modifiedBy" class="list-group-item">
        <dt>Modified By</dt>
        <dd>{{ focusOrg?.modifiedBy }}</dd>
      </div>
      <div *ngIf="focusOrg?.modifiedDate" class="list-group-item">
        <dt>Modified Date</dt>
        <dd>{{ focusOrg?.modifiedDate }}</dd>
      </div>
      <div *ngIf="focusOrg?.externallyManaged" class="list-group-item">
        <dt>Externally Managed</dt>
        <dd>{{ focusOrg?.externallyManaged }}</dd>
      </div>
      <div *ngIf="focusOrg?.version" class="list-group-item">
        <dt>Version</dt>
        <dd>{{ focusOrg?.version }}</dd>
      </div>
      <div *ngIf="focusOrg?.portalUrl" class="list-group-item">
        <dt>Portal URL</dt>
        <dd>{{ focusOrg?.portalUrl }}</dd>
      </div>
      <div *ngIf="focusOrg?.prettyUrlIdentifiers" class="list-group-item">
        <dt>Pretty URL Identifiers</dt>
        <dd *ngFor="let id of focusOrg?.prettyUrlIdentifiers">{{ id }}</dd>
      </div>
      <div *ngIf="focusOrg?.previousUuids" class="list-group-item">
        <dt>Previous UUIDs</dt>
        <dd *ngFor="let uuid of focusOrg?.previousUuids">{{ uuid }}</dd>
      </div>
      <div *ngIf="focusOrg?.name?.en_GB" class="list-group-item">
        <dt>Name</dt>
        <dd>{{ focusOrg?.name?.en_GB }}</dd>
      </div>
      <div *ngIf="focusOrg?.type" class="list-group-item">
        <dt>Type</dt>
        <dd>
          <dl class="list-group">
            <div *ngIf='focusOrg?.type?.uri' class="list-group-item">
              <dt>URI</dt>
              <dd>{{ focusOrg?.type?.uri }}</dd>
            </div>
            <div *ngIf='focusOrg?.type?.link' class="list-group-item">
              <dt>Link</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf='focusOrg?.type?.link?.ref' class="list-group-item">
                    <dt>Ref</dt>
                    <dd>{{ focusOrg?.type?.link?.ref }}</dd>
                  </div>
                  <div *ngIf='focusOrg?.type?.link?.ref' class="list-group-item">
                    <dt>HRef</dt>
                    <dd>{{ focusOrg?.type?.link?.href }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div *ngIf='focusOrg?.type?.term?.en_GB' class="list-group-item">
              <dt>Term</dt>
              <dd>{{ focusOrg?.type?.term?.en_GB }}</dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.natureTypes" class="list-group-item">
        <dt>Nature Types</dt>
        <dd *ngFor="let type of focusOrg?.natureTypes">
          <dl class="list-group">
            <div *ngIf="type.uri">
              <dt>URI</dt>
              <dd>{{ focusOrg?.type?.uri }}</dd>
            </div>
            <div *ngIf="type.uri">
              <dt>Link</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf="type.link?.ref">
                    <dt>Ref</dt>
                    <dd>{{ focusOrg?.type?.link?.ref }}</dd>
                  </div>
                  <div *ngIf="type.link?.href">
                    <dt>HRef</dt>
                    <dd>{{ focusOrg?.type?.link?.href }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div *ngIf="type.term?.en_GB">
              <dt>Term</dt>
              <dd>{{ focusOrg?.type?.term?.en_GB }}</dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.acronym" class="list-group-item">
        <dt>Acronym</dt>
        <dd>{{ focusOrg?.acronym  }}</dd>
      </div>
      <div *ngIf="focusOrg?.alternativeNames" class="list-group-item">
        <dt>Alternative Names</dt>
        <dd *ngFor="let name of focusOrg?.alternativeNames">{{ name }}</dd>
      </div>
      <div *ngIf="focusOrg?.identifiers" class="list-group-item">
        <dt>Identifiers</dt>
        <dd *ngFor="let id of focusOrg?.identifiers">
          {{ id.typeDiscriminator }}
        </dd>
      </div>
      <div *ngIf="focusOrg?.address" class="list-group-item">
        <dt>Address</dt>
        <dd>
          <dl class="list-group">
            <div *ngIf="focusOrg?.address?.address1" class="list-group-item">
              <dt>Address Line 1</dt>
              <dd>{{ focusOrg?.address?.address1 }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.address2" class="list-group-item">
              <dt>Address Line 2</dt>
              <dd>{{ focusOrg?.address?.address2 }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.address3" class="list-group-item">
              <dt>Address Line 3</dt>
              <dd>{{ focusOrg?.address?.address3 }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.address4" class="list-group-item">
              <dt>Address Line 4</dt>
              <dd>{{ focusOrg?.address?.address4 }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.address5" class="list-group-item">
              <dt>Address Line 5</dt>
              <dd>{{ focusOrg?.address?.address5 }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.postalCode" class="list-group-item">
              <dt>Postal Code</dt>
              <dd>{{ focusOrg?.address?.postalCode }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.city" class="list-group-item">
              <dt>City</dt>
              <dd>{{ focusOrg?.address?.city }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.country" class="list-group-item">
              <dt>Country</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf="focusOrg?.address?.country?.uri" class="list-group-item">
                    <dt>URI</dt>
                    <dd>{{ focusOrg?.address?.country?.uri }}</dd>
                  </div>
                  <div *ngIf="focusOrg?.address?.country?.link" class="list-group-item">
                    <dt>Link</dt>
                    <dd>
                      <dl class="list-group">
                        <div *ngIf='focusOrg?.address?.country?.link?.ref' class="list-group-item">
                          <dt>Ref</dt>
                          <dd>{{ focusOrg?.address?.country?.link?.ref }}</dd>
                        </div>
                        <div *ngIf='focusOrg?.address?.country?.link?.ref' class="list-group-item">
                          <dt>HRef</dt>
                          <dd>{{ focusOrg?.address?.country?.link?.href }}</dd>
                        </div>
                      </dl>
                    </dd>
                  </div>
                  <div *ngIf="focusOrg?.address?.country?.term?.en_GB" class="list-group-item">
                    <dt>Term</dt>
                    <dd>{{ focusOrg?.address?.country?.term?.en_GB }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div *ngIf="focusOrg?.address?.subdivision" class="list-group-item">
              <dt>Sub-division</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf="focusOrg?.address?.subdivision?.uri" class="list-group-item">
                    <dt>URI</dt>
                    <dd>{{ focusOrg?.address?.subdivision?.uri }}</dd>
                  </div>
                  <div *ngIf="focusOrg?.address?.subdivision?.link" class="list-group-item">
                    <dt>Link</dt>
                    <dd>
                      <dl class="list-group">
                        <div *ngIf='focusOrg?.address?.subdivision?.link?.ref' class="list-group-item">
                          <dt>Ref</dt>
                          <dd>{{ focusOrg?.address?.subdivision?.link?.ref }}</dd>
                        </div>
                        <div *ngIf='focusOrg?.address?.subdivision?.link?.ref' class="list-group-item">
                          <dt>HRef</dt>
                          <dd>{{ focusOrg?.address?.subdivision?.link?.href }}</dd>
                        </div>
                      </dl>
                    </dd>
                  </div>
                  <div *ngIf="focusOrg?.address?.subdivision?.term?.en_GB" class="list-group-item">
                    <dt>Term</dt>
                    <dd>{{ focusOrg?.address?.subdivision?.term?.en_GB }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div *ngIf="focusOrg?.address?.state" class="list-group-item">
              <dt>State</dt>
              <dd>{{ focusOrg?.address?.state }}</dd>
            </div>
            <div *ngIf="focusOrg?.address?.geoLocation" class="list-group-item">
              <dt>Sub-division</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf="focusOrg?.address?.geoLocation?.point" class="list-group-item">
                    <dt>Point</dt>
                    <dd>{{ focusOrg?.address?.geoLocation?.point }}</dd>
                  </div>
                  <div *ngIf="focusOrg?.address?.geoLocation?.polygon" class="list-group-item">
                    <dt>Polygon</dt>
                    <dd>{{ focusOrg?.address?.geoLocation?.polygon }}</dd>
                  </div>
                  <div *ngIf="focusOrg?.address?.geoLocation?.calculatedPoint" class="list-group-item">
                    <dt>Calculated Point</dt>
                    <dd>{{ focusOrg?.address?.geoLocation?.calculatedPoint }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.phoneNumber" class="list-group-item">
        <dt>Phone Number</dt>
        <dd>{{ focusOrg?.phoneNumber }}</dd>
      </div>
      <div *ngIf="focusOrg?.mobilePhoneNumber" class="list-group-item">
        <dt>Mobile Phone Number</dt>
        <dd>{{ focusOrg?.mobilePhoneNumber }}</dd>
      </div>
      <div *ngIf="focusOrg?.fax" class="list-group-item">
        <dt>Fax</dt>
        <dd>{{ focusOrg?.fax }}</dd>
      </div>
      <div *ngIf="focusOrg?.email" class="list-group-item">
        <dt>Email</dt>
        <dd>{{ focusOrg?.email }}</dd>
      </div>
      <div *ngIf="focusOrg?.bankAccountNumber" class="list-group-item">
        <dt>Bank Account Number</dt>
        <dd>{{ focusOrg?.bankAccountNumber }}</dd>
      </div>
      <div *ngIf="focusOrg?.vatNumber" class="list-group-item">
        <dt>VAT Number</dt>
        <dd>{{ focusOrg?.vatNumber }}</dd>
      </div>
      <div *ngIf="focusOrg?.documents" class="list-group-item">
        <dt>Documents</dt>
        <dd *ngFor="let doc of focusOrg?.documents">
          <dl class="list-group">
            <div *ngIf="doc.pureId" class="list-group-item">
              <dt>Pure ID</dt>
              <dd>{{ doc.pureId }}</dd>
            </div>
            <div *ngIf="doc.fileId" class="list-group-item">
              <dt>File ID</dt>
              <dd>{{ doc.fileId }}</dd>
            </div>
            <div *ngIf="doc.fileName" class="list-group-item">
              <dt>File Name</dt>
              <dd>{{ doc.fileName }}</dd>
            </div>
            <div *ngIf="doc.mimeType" class="list-group-item">
              <dt>MIME Type</dt>
              <dd>{{ doc.mimeType }}</dd>
            </div>
            <div *ngIf="doc.size" class="list-group-item">
              <dt>Size</dt>
              <dd>{{ doc.size }}</dd>
            </div>
            <div *ngIf="doc.url" class="list-group-item">
              <dt>URL</dt>
              <dd>{{ doc.url }}</dd>
            </div>
            <div *ngIf="doc.title" class="list-group-item">
              <dt>Title</dt>
              <dd>{{ doc.title }}</dd>
            </div>
            <div *ngIf="doc.type" class="list-group-item">
              <dt>Type</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf='doc.type?.uri' class="list-group-item">
                    <dt>URI</dt>
                    <dd>{{ doc.type?.uri }}</dd>
                  </div>
                  <div *ngIf='doc.type?.link' class="list-group-item">
                    <dt>Link</dt>
                    <dd>
                      <dl class="list-group">
                        <div *ngIf='doc.type?.link?.ref' class="list-group-item">
                          <dt>Ref</dt>
                          <dd>{{ doc.type?.link?.ref }}</dd>
                        </div>
                        <div *ngIf='doc.type?.link?.ref' class="list-group-item">
                          <dt>HRef</dt>
                          <dd>{{ doc.type?.link?.href }}</dd>
                        </div>
                      </dl>
                    </dd>
                  </div>
                  <div *ngIf='doc.type?.term?.en_GB' class="list-group-item">
                    <dt>Term</dt>
                    <dd>{{ doc.type?.term?.en_GB }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div *ngIf="doc.license" class="list-group-item">
              <dt>License</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf='doc.license?.uri' class="list-group-item">
                    <dt>URI</dt>
                    <dd>{{ doc.license?.uri }}</dd>
                  </div>
                  <div *ngIf='doc.license?.link' class="list-group-item">
                    <dt>Link</dt>
                    <dd>
                      <dl class="list-group">
                        <div *ngIf='doc.license?.link?.ref' class="list-group-item">
                          <dt>Ref</dt>
                          <dd>{{ doc.license?.link?.ref }}</dd>
                        </div>
                        <div *ngIf='doc.license?.link?.ref' class="list-group-item">
                          <dt>HRef</dt>
                          <dd>{{ doc.license?.link?.href }}</dd>
                        </div>
                      </dl>
                    </dd>
                  </div>
                  <div *ngIf='doc.license?.term?.en_GB' class="list-group-item">
                    <dt>Term</dt>
                    <dd>{{ doc.license?.term?.en_GB }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div *ngIf="doc.visibleOnPortalDate" class="list-group-item">
              <dt>Visible on Portal Date</dt>
              <dd>{{ doc.visibleOnPortalDate }}</dd>
            </div>
            <div *ngIf="doc.visibility" class="list-group-item">
              <dt>Visibility</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf="doc.visibility?.key" class="list-group-item">
                    <dt>Key</dt>
                    <dd>{{ doc.visibility?.key }}</dd>
                  </div>
                  <div *ngIf="doc.visibility?.description?.en_GB" class="list-group-item">
                    <dt>Description</dt>
                    <dd>{{ doc.visibility?.description?.en_GB }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div *ngIf="doc.creator" class="list-group-item">
              <dt>Creator</dt>
              <dd>{{ doc.creator }}</dd>
            </div>
            <div *ngIf="doc.created" class="list-group-item">
              <dt>Created</dt>
              <dd>{{ doc.created }}</dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.images" class="list-group-item">
        <dt>Images</dt>
        <dd *ngFor="let image of focusOrg?.images">
          <dl class="list-group">
            <div *ngIf="image.pureId" class="list-group-item">
              <dt>Pure ID</dt>
              <dd>{{ image.pureId }}</dd>
            </div>
            <div *ngIf="image.fileId" class="list-group-item">
              <dt>File ID</dt>
              <dd>{{ image.fileId }}</dd>
            </div>
            <div *ngIf="image.fileName" class="list-group-item">
              <dt>File Name</dt>
              <dd>{{ image.fileName }}</dd>
            </div>
            <div *ngIf="image.mimeType" class="list-group-item">
              <dt>MIME Type</dt>
              <dd>{{ image.mimeType }}</dd>
            </div>
            <div *ngIf="image.size" class="list-group-item">
              <dt>Size</dt>
              <dd>{{ image.size }}</dd>
            </div>
            <div *ngIf="image.url" class="list-group-item">
              <dt>URL</dt>
              <dd>{{ image.url }}</dd>
            </div>
            <div *ngIf="image.type" class="list-group-item">
              <dt>Type</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf='image.type?.uri' class="list-group-item">
                    <dt>URI</dt>
                    <dd>{{ image.type?.uri }}</dd>
                  </div>
                  <div *ngIf='image.type?.link' class="list-group-item">
                    <dt>Link</dt>
                    <dd>
                      <dl class="list-group">
                        <div *ngIf='image.type?.link?.ref' class="list-group-item">
                          <dt>Ref</dt>
                          <dd>{{ image.type?.link?.ref }}</dd>
                        </div>
                        <div *ngIf='image.type?.link?.ref' class="list-group-item">
                          <dt>HRef</dt>
                          <dd>{{ image.type?.link?.href }}</dd>
                        </div>
                      </dl>
                    </dd>
                  </div>
                  <div *ngIf='image.type?.term?.en_GB' class="list-group-item">
                    <dt>Term</dt>
                    <dd>{{ image.type?.term?.en_GB }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.links" class="list-group-item">
        <dt>Links</dt>
        <dd *ngFor="let link of focusOrg?.links">
          <dl class="list-group">
            <div *ngIf="link.pureId" class="list-group-item">
              <dt>Pure ID</dt>
              <dd>{{ link.pureId }}</dd>
            </div>
            <div *ngIf="link.url" class="list-group-item">
              <dt>URL</dt>
              <dd>{{ link.url }}</dd>
            </div>
            <div *ngIf="link.description?.en_GB" class="list-group-item">
              <dt>Description</dt>
              <dd>{{ link.description?.en_GB }}</dd>
            </div>
            <div *ngIf="link.linkType" class="list-group-item">
              <dt>Type</dt>
              <dd>
                <dl class="list-group">
                  <div *ngIf='link.linkType?.uri' class="list-group-item">
                    <dt>URI</dt>
                    <dd>{{ link.linkType?.uri }}</dd>
                  </div>
                  <div *ngIf='link.linkType?.link' class="list-group-item">
                    <dt>Link</dt>
                    <dd>
                      <dl class="list-group">
                        <div *ngIf='link.linkType?.link?.ref' class="list-group-item">
                          <dt>Ref</dt>
                          <dd>{{ link.linkType?.link?.ref }}</dd>
                        </div>
                        <div *ngIf='link.linkType?.link?.ref' class="list-group-item">
                          <dt>HRef</dt>
                          <dd>{{ link.linkType?.link?.href }}</dd>
                        </div>
                      </dl>
                    </dd>
                  </div>
                  <div *ngIf='link.linkType?.term?.en_GB' class="list-group-item">
                    <dt>Term</dt>
                    <dd>{{ link.linkType?.term?.en_GB }}</dd>
                  </div>
                </dl>
              </dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.keywordGroups" class="list-group-item">
        <dt>Links</dt>
        <dd *ngFor="let keywordGroup of focusOrg?.keywordGroups">
          <dl class="list-group">
            <div *ngIf="keywordGroup.pureId" class="list-group-item">
              <dt>Pure ID</dt>
              <dd>{{ keywordGroup.pureId }}</dd>
            </div>
            <div *ngIf="keywordGroup.typeDiscriminator" class="list-group-item">
              <dt>Type Discriminator</dt>
              <dd>{{ keywordGroup.typeDiscriminator }}</dd>
            </div>
            <div *ngIf="keywordGroup.logicalName" class="list-group-item">
              <dt>Logical Name</dt>
              <dd>{{ keywordGroup.logicalName }}</dd>
            </div>
            <div *ngIf="keywordGroup.name?.en_GB" class="list-group-item">
              <dt>Name</dt>
              <dd>{{ keywordGroup.name?.en_GB }}</dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.note" class="list-group-item">
        <dt>Note</dt>
        <dd>{{ focusOrg?.note }}</dd>
      </div>
      <div *ngIf="focusOrg?.visibility" class="list-group-item">
        <dt>Visibility</dt>
        <dd>
          <dl class="list-group">
            <div *ngIf='focusOrg?.visibility?.key' class="list-group-item">
              <dt>Key</dt>
              <dd>{{ focusOrg?.visibility?.key }}</dd>
            </div>
            <div *ngIf='focusOrg?.visibility?.description?.en_GB' class="list-group-item">
              <dt>Description</dt>
              <dd>{{ focusOrg?.visibility?.description?.en_GB }}</dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.workflow" class="list-group-item">
        <dt>Type</dt>
        <dd>
          <dl class="list-group">
            <div *ngIf='focusOrg?.workflow?.step' class="list-group-item">
              <dt>Step</dt>
              <dd>{{ focusOrg?.workflow?.step }}</dd>
            </div>
            <div *ngIf='focusOrg?.workflow?.description?.en_GB' class="list-group-item">
              <dt>Description</dt>
              <dd>{{ focusOrg?.workflow?.description?.en_GB }}</dd>
            </div>
          </dl>
        </dd>
      </div>
      <div *ngIf="focusOrg?.systemName" class="list-group-item">
        <dt>System Name</dt>
        <dd>{{ focusOrg?.systemName }}</dd>
      </div>
    </dl>
  </div>
</ng-template>
